/* Groups */
  
.page-wrapper {
    margin-top: 80px;
    padding-left: 0;
}

.page-wrapper .content {
    width: 100%;
    height: auto;
    padding: 0;    
}

@media(min-width:768px) {
    .page-wrapper {
        padding-left: 250px;
        overflow-y: hidden;
    }

    .page-wrapper .content .contact-profile{
        z-index: 1;
        position: fixed;
        width: calc(100% - 250px);
        height: 60px;
        line-height: 60px;
        background: white;
        border-style: ridge;
        border-width: 0px 0px 1px 0px;
    }
}

.page-wrapper .content {
    margin-top: -30px;
    padding: 0px;
    overflow-y: hidden;
}

.page-wrapper .content .contact-profile p {
    float: left;
    margin-left:5px;
    font-size: 20px;
}

.page-wrapper .content .contact-profile i {
    float: left;
    margin-left:15px;
    margin-top:20px;
    font-size: 20px;
}

.page-wrapper .content .contact-profile .social-media {
    float: right;
}
.page-wrapper .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}
.page-wrapper .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}
.page-wrapper .content .contact-profile .social-media i:hover {
    color: #435f7a;
}

.page-wrapper .content .messages {
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
    height: calc(100vh - 93px);
    overflow-x: hidden;
    overflow-y: auto;
}
  
.page-wrapper .content .messages ul li {
    display: inline-block;
    clear: both;
    margin: 5px 5px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}
.page-wrapper .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}
.page-wrapper .content .messages ul li img {
    margin: 6px 8px 0 0;
}

.page-wrapper .content .messages ul li div{
    padding-top: 5px; 
    padding-bottom: 5px; 
}

.page-wrapper .content .messages ul li.replies p {
    background: #435f7a;
    color: #f5f5f5;
}

.page-wrapper .content .messages ul li.sent p {
    background: white;
}

.page-wrapper .content .messages ul li img.profileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.page-wrapper .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: calc(100% - 80px);
    line-height: 130%;
}

/* Message input */
.page-wrapper .content .message-input {
    position: fixed;
    bottom: -2px;
    width: calc(100% - 250px);
    z-index: 1;
    background: #ddd;
}
.page-wrapper .content .message-input .wrap {
    background: #32465a;
    position: relative;
}
.page-wrapper .content .message-input .wrap input {
    font-family: "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 100px);
    padding: 12px 8px 12px 8px;
    font-size: 0.8em;
    color: #32465a;
    background: white;
  }
  @media screen and (max-width: 735px) {
    .page-wrapper .content .message-input .wrap input {
      padding: 15px 32px 16px 8px;
    }
    .page-wrapper .content .message-input .wrap button {
        padding: 16px 0;
    }
  }
  .page-wrapper .content .message-input .wrap input:focus {
    outline: none;
  }      

  .page-wrapper .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
    transition:0.5s;
  }

  .page-wrapper .content .message-input .wrap .attachment:hover {
    opacity: 1;
  }

  .page-wrapper .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
    transition:0.5s;
  }
  .page-wrapper .content .message-input .wrap button:hover {
    background: #435f7a;
  }
  .page-wrapper .content .message-input .wrap button:focus {
    outline: none;
  }

  .messages img.msgImg{
    border-radius: 0 !important;
    border: none !important;
    max-width: 200px  !important;
    width: auto !important;
  }

  /* Scroll bar */
  .messages::-webkit-scrollbar {
      width: 0px;
  }
  