	<div class="login-panel">
		<div class="panel-heading">
			<div class="panel-title text-center">
				<h1>Welcome to Chatapp</h1>
				<hr />
			</div>
		</div>
		<div class="main-login main-center">
			<form class="form-horizontal" (ngSubmit)="onLogin()" action="#" novalidate>
				<div class="form-group">
					<label for="username">Your Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-user fa" aria-hidden="true"></i>
							</span>
							<input type="text" class="form-control" id="username" placeholder="Enter your username" [(ngModel)]="user.username" name="username"
							 required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="password">Your Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon">
								<i class="fa fa-key fa" aria-hidden="true"></i>
							</span>
							<input type="password" class="form-control" id="password" placeholder="Enter your password" [(ngModel)]="user.password" name="password"
							 required>
						</div>
					</div>
				</div>				
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
				</div>
				<div class="alert alert-danger" *ngIf="loginError"> {{ loginAlert }}</div>
			</form>
		</div>
	</div>